/* GLOBAL */

* {
  /* Reset */
  padding: 0;
  margin: 0;
  font-family: 'Open sans';
  color: #333;
  box-sizing: border-box; 
}

body {
  /* Background Image */
  background-color: #ee5522;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23d23d09' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}

h1 {
  font-family: "Fira Mono";
  font-size: 2.5rem;
}

h1 span {
  color: #ee5522;
}

ul {
  list-style: none;
  padding: 1rem;
  margin-top: .5rem;
}

button {
  background-color: #FDFDFD;
  color: #102F5E;
  border: 2px solid #102F5E;
  padding: .3rem .6rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
}

button > i {
  line-height: 0;
}

button:hover {
  background-color: #102F5E;
}

.task-item button:hover {
  background-color: #b30000;
  border: 2px solid #b30000;
} 

button:hover > i {
  color: #FDFDFD;
}

input {
  padding: .25rem .5rem;
}

/* MAIN CONTENT */

.container {
  max-width: 500px;
  margin: 3rem auto;
  background-color: #FDFDFD;
  padding: 1.5rem;
  border-radius: 15px;
}

.container header {
  text-align: center;
  padding: 0 1rem 1rem;
  border-bottom: 1px solid #CCC;
}

/* FORM */

form {
  padding: 1rem;
  border-bottom: 1px solid #CCC;
}

.form-label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-input, .task-item, div.task {
  display: flex;
  gap: .5rem;
  align-items: center;
}

#new-task, .task {
  flex-grow: 2;
}

.task-item + .task-item {
  margin-top: 1.5rem;
}

.message {
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
}

/* CUSTOM CHECKBOX */

input[type="checkbox"] {
  appearance: none;
  margin: 0;
  font: inherit;
  color: #102F5E;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #102F5E;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #333;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

/* "Corta" itens verificados */
input[type="checkbox"]:checked + span {
  text-decoration: line-through;
}

/* MODAL */

.modal {
  position: fixed;
  inset: 0;
  background-color: #00000080;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 25rem;
  position: relative;
  background-color: #FFF;
  border-radius: .5rem;
}

.modal .box h2 {
  padding: 1.5rem;
  margin: 0;
  color: #102F5E;
  text-transform: uppercase;
}

.modal h2 i {
  margin-right: 1rem;
}

#close-modal {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.5rem;
  -webkit-text-stroke: 1px;
  padding: 1.5rem;
  cursor: pointer;
}

.modal hr {
  width: 90%;
  margin: 0 auto;
}

.modal p {
  padding: 1.5rem;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.modal .btns {
  display: flex;
  justify-content: center;
  padding: .5rem 1.5rem 1.5rem 1.5rem;
}

.btns .div-btn {
  text-decoration: none;
  padding: .5rem;
  border-radius: .5rem;
  width: 7rem;
  text-align: center;
  cursor: pointer;
}

.btns #btn-cancelar {
  background-color: #FFF;
  color: #102F5E;
  border: solid 1px #102F5E;
  margin-right: 1rem;
  transition: all .5s ease-out;
}
.btns #btn-cancelar:hover {
  background-color: #102F5E;
  color: #FFF;
}

.btns #btn-apagar {
  background-color: #FFF;
  color: #b30000;
  border: solid 1px #b30000;
  transition: all .5s ease-out;
}
.btns #btn-apagar:hover {
  background-color: #b30000;
  color: #FFF;
}

.hide {
  /* opacity: 0; */
  display: none;
}






